@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

/*@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
/*@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
/*@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
/*@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
/*@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
/*@media (min-width:1281px) { /* hi-res laptops and desktops */ 

@font-face {
    font-family: 'Lato'; font-style: normal; font-weight: 400;
    src: local('Lato Regular');
    src: url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
}

/*RESPONSIVO*/

@media screen and (max-width:1000px) {  
    .tituloInformacion, .tituloTablaEpisodios, .tituloDatosPaciente, .tituloLabelElemento{
        font-size: 2vw;
    }
    .tituloEncargado{
        font-size: 1.8vw;
    }
    .subTituloLabelElemento{
        font-size: 1.5vw;
    }
}
@media screen and (max-width:1200px) {  
    af|column::column-header-cell{
        font-size: 10px;
    }
 
    .panelGroupSubTitulo{
        padding-top:3px;
        padding-bottom:3px;
    }
}

body {
   cursor: default !important;
}

af|panelGroupLayout.contenedorCopyright{
    background-color:#1372A2;
    text-align: center; 
    padding:0.3em;
    display:inline-block;
    bottom: 0;
    position:fixed;
    /*z-index:-10;*/
}


.copyright{
    font-weight: bold;
    font-size: 1.2em;
    color:#ade6fa;
    bottom: 0;
}

af|link.copyright:hover{
    font-weight: bold;
    font-size: 1.3em;
    color:white;
    transition:0.25s;
}

af|button.copyright::link{
    font-size:10px !important;
}

af|button.copyright{
    height:1vw !important;
}

@media screen and (max-width:550px) {  
  .logo{
    display: none;
    width: 0%;
  }
}

@media screen and (max-width:600px) {  
  .group{
    border-bottom-color: transparent; 
  }
}

.panelGroupSubTitulo{
    background-color: #C1E1F0; 
    min-height: 20px;
    text-align: start;
}

.panelGroupTitulo {
    background-color: #349ED3; 
    min-height: 30px;
    text-align: start;
}

.AFDefaultFontFamily:alias {
   font-family: 'Lato';
}

/*ELEMENTOS PRINCIPALES (TEMPLATE PRINCIPAL)*/

.panelLogoSistema{
    max-width:50px;
    min-height:100%;
    padding-bottom:3px;
}

.panelNombreInstitucion{
    min-height:100%; 
}

.nombreInstitucion{
    font-size: 2.5em;
    padding-right:10px;
}

.usuarioLogueado{
    font-size: 1.2em;
    font-weight:bold;
    padding-right:10px;
}

.nombreSistema{
    font-size: 6vh;
    color: black;
}

.logo{
    max-height:8vw;
    padding-right:5vh;
    padding-left:2vh;
    padding-top:5px;
}

/*Boton "Ingresar" del Login*/
.btnIngresar, .btnIngresar .af_button_link:hover{
    background-image: none;
    color: #0B4765;
    background-color:#66AED2;
    border-color: #0B4765;
    text-shadow: 0px 0px #0B4765;
}

/*Efecto pasar cursor por encima del Boton "Ingresar" del Login*/
.btnIngresar .af_button_link:hover{
    color: #66AED2;
    background-color:#0B4765;
    border-color: #66AED2;
    text-shadow: 0px 0px #66AED2;
}

/*Textos de Usuario y Clave del Form de Login*/
.textoIngresar{
    font-size:13px;
    font-weight: bold;
    color:#C4E8FA;
}

/*Elementos deshabilitados de Tablas, Listas y Forms*/
.af_inputNumberSpinbox.p_AFDisabled .af_inputNumberSpinbox_content, 
.af_inputDate.p_AFDisabled .af_inputDate_content, 
.af_inputColor.p_AFDisabled .af_inputColor_content{
    background-color: white;
    -webkit-text-fill-color: black;
}

/*af|inputText:disabled::content{
    background-color: white;
    -webkit-text-fill-color: red !important;
    color:black !important;
}*/

af|inputText:disabled{
    color: red !important;
}

/*ELEMENTOS DEL MENU NATIVO*/

.nativoMenu {
    font-size:15px;
    font-weight:bold;
    background-color:#8ec7e3;
}

.tituloSubMenu,.af_menu_bar-item-text {
    font-size:15px;
    font-weight:bold;
    background-color:#8ec7e3;
    
}
.af_menu_bar-item-open-icon-style{
    background-color:#8ec7e3
}
.nativoMenu:hover,.tituloSubMenu:hover{
    background-color:#66AED2;
    /*border-bottom-width:2px;*/
    border-color:transparent;
    box-shadow: inset 0 -2px 0 #c4e0ee;
    transition:0.2s;
}

.menuBar {background-color:#1372a2;border-radius:10px}
.nativoSubMenu {
    background-color:#9acce5;
    font-size:12px;
    font-weight:bold;
}

af|menu::child-container{
    background-color:#9acce5;
}

.nativoSubMenuSub, .tituloSubSubMenu{
    background-color:#9acce5;
    font-size:12px;
    font-weight:bold
}

.nativoSubMenuSubSub, .tituloSubSubSubMenu{
    background-color:#9acce5;
    font-size:12px;
    font-weight:bold
}

/*ELEMENTOS DE CONTROL DE PISO*/
.tituloInformacion, .tituloTablaEpisodios, .tituloDatosPaciente, .tituloLabelElemento{
    margin-left: 10px;
    font-size: 1.5em;
    color:white;
    font-weight: 600;
}

.tituloEncargado{
  font-size: 0.9vw;
  font-weight: 600;
  margin-left: 10px;
}


.panelListaReqGenerales{width: 100%;}

.panelListaCodigos, .panelListaReqCodigo{
    width: 100%;
    padding-bottom: 10px;
}

.panelTituloPagina{
    background-color: #349ED3; 
    min-height: 3000px;
}


/*ELEMENTOS DE NOTICIAS*/

.labelElemento{
  font-size: 1.3vw;
  font-weight: bold;
}

.labelSubTitulo{
  font-size: 1.3vw;
  font-weight: bold;
}

.nombreEncargado{font-size: 1.2vw;}

af|panelGroupLayout.cardNoticia{
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    background-color:white;
    border-radius:10px 10px 10px 10px;
    box-shadow:2px 2px 10px #AEAEAE;
    padding-bottom:10px;
    padding-top:5px;
}

af|panelGroupLayout.cardNoticia:hover{
    box-shadow:1px 1px 20px #AEAEAE;
    transition:0.4s;
}

.bloqueXnoticia{
    border-radius: 0px 0px 15px 15px;
    border-style: solid;
    border-color: lightgrey;
    border-width:1px;
    padding-bottom: 10px;
    
}

.test{
    opacity: 0.5;
    background-image: linear-gradient(to right, #0B4765, #66AED2);
}

.comunicadosTitulo{
    font-size: 2vw;
    padding-left:10px;
    font-weight:bold;
    text-shadow: 2px 2px 2px #AEAEAE;
}

.fechaNoticia{
    font-size: 12px;
    color: gray;
    padding-left:10px;
}

.labelCarga, .labelTipoNoticia{
    font-size: 15px;
    font-weight: bold;
    padding-right: 15px;
}

.labelTipoNoticia{
    font-size: 18px;
    text-shadow: 1px 1px #DCD8D8;
    text-decoration: underline;
}

.link, .link:active, .link:visited{
    color:blue;
    font-size: 13px;
    font-weight:bold;
}

.link:hover{
    transition: 0.2s;
    color:#66AED2;
    font-size: 16px;
}

.inputNoticia{
    margin-left: 6px;
    width: 400px;
    height: 100px;
}

.textoNoticia{
    font-size:15px;
    ;
}

.tituloNoticia{
    font-size: 20px;
    font-weight:bold;
    padding-left:10px;
}

.panelTitulo{margin-left: 8px;}
.panelFecha{margin-left: 10px;}
.panelElemento{margin-left: 15px;}

.panelNoticia{
    margin-top: 10px;
    padding-top: 3px;
    margin-left:10px;
    margin-right:10px;
}


.barraNavegacion{
    /*padding-top: 10px;*/
    background-color: #1372A2;
}

.textoReporte{
    padding-top: 50px;
    font-weight: bold;
    font-size: 1vw;
}



.finalPagina{
    background-color: #1372A2;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
}
.labels{
    padding-top:2px;
}

.informacionFinal{
    font-weight: bold;
    font-size: 1.5vw;
}

.labels{display: inline-block;}
.lineaSeparadora{background-color: black;}

/*ELEMENTOS DE LAS TABLAS/LISTAS*/


/*Cabecera de Tablas*/
af|column::column-header-cell{
    margin: 0px;
    padding: 1px 3px 1px 1px;
    text-align: center;
    font-size: 12px;
    background-color: #E1E1E1;
}

af|column::data-cell af|inputText.p_AFReadOnly .af_inputText_content,
.af_column_banded-data-cell .af_inputText.p_AFReadOnly .af_inputText_content{
    font-size: 10px;
    font-weight:bold;
}

af|column::data-cell, af|column::banded-data-cell{
    padding-top:0px;
    padding-bottom:0px;
}
/*Elementos de las Tablas*/


/*Textos de Usuario y Clave del Form de Login*/
.textoError{
    font-size:13px;
    font-weight: bold;
    color:#FF93A2;
    text-shadow: 2px 2px black;
    font-size: 3.5vw;
}

.panelBotonesError{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

af|panelFormLayout{
    padding-top: 0px !important;
}

af|panelFormLayout::label-cell{
    padding-top:0px !important;
    font-size:1em;
    white-space: nowrap;
    padding-left:0px;
}

.AFPanelFormLayoutContentCell{
    padding-top:0px !important;
    white-space: nowrap;
}

.errorCodigos{
    font-weight: bold;
    color:#FF93A2;
    text-shadow: 1px 1px black;
    font-size: 1.5vw;  
}

af|dialog::title{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.PopUpMensajeTexto1{
    font-weight: bold;
    font-size: 12px;
}


.popUpElemento .af_dialog_title{
    text-align: center;
    font-size: 1vw;
}

.subTituloLabelElemento{
    margin-left: 8px;
    font-size: 1em;
    color: black;
    font-weight: 600;
}

/*--ELEMENTOS DE GERENCIADORES--*/

.panelListaObrasSocialesGeren{width: 50%;}
.panelListaGerenciadores{width: 100%;}

.textoImportante{
    font-size:18px;
    font-weight:bold;
}

.descripcionImportante{
    font-size:14px;
    font-weight:bold;
}

.btnGenerarReporteEpisodio{
    font-family: 'Lato';
    font-size: 12px;
    color: #000000;
    background-color: #e5e9eb;
    font-weight: bold;
    min-height: 28px;
    border-color: #c4ced7;
}
 
 .scanned {
     width:40%;
     height:40%;
 }
 
.imagenRequisito{
    width:350px;
    height:450px;
}
 
.panelImagenRequisitos{
    width:350px;
    height:450px;
    border-style: groove ;
    border-width: 10px;
    border-color: #349ED3;
}
 
.panelGroupDatosCierre{
    position:fixed;
    top: 5vh;
    right: -70vh;
    transition: 0.3s;
    padding: 3vh;
    width: 70vh;
    text-decoration: none;
    color: white;
    z-index: 0;
}
 
.panelGroupDatosCierre:hover{
    right: -9vh;
}
 
.decorativeDatosCierre{
    border-left-style:solid;
    border-left-width: 3vh;
    border-left-color: #349ED3;
    border-bottom-style:solid;
    border-bottom-width: 2vh;
    border-bottom-color: #349ED3;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,80);
}
 
.panelTituloCierrreSeleccionado{
    background-color:#349ED3;
}

.textoTituloCierreSeleccionado{
    margin-left: 1vh;
    font-size: 1.2vw;
    color:white;
    font-weight: 600;    
 }
 
.panelBoxListaFinanciadores{
     width: 100%;
}
.filtroListaFinanciadores af_selectOneChoice{
    width:10%;
}
   
.columna{
    min-width:10000%;
}

.textoColumna{
    min-width:10000%;
}

.logAutoFrmFiltroPrestaciones{
    padding-left:1px;
}

.textoInformativo{
    font-size:2vh;
    font-weight:600;
}

.subTextoInformativo{
    font-size:1.8vh;
    font-weight:600;
    
}

.iconoGifme{
    /*padding-top:0.5vh;
    width:12vh;
    padding-bottom:0.5vh;*/
    max-height:7vw;
    padding-top:5px
}

af|panelTabbed{
    text-align: center;
    font-weight:600;
}

af|panelTabbed::tab af|panelTabbed::tab-text-link{
    font-size: 1em;
    font-weight:600;
    color: #1372A2;
}

af|panelTabbed::tab-text-link:selected{
    font-size: 1.1em;
    font-weight:600;
    color: #005381 !important;   
}

af|panelBox.panelBoxContenedor{
    border-style: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

af|panelBox.panelBoxContenedor .af_panelBox_header-element, 
af|panelBox.panelBoxContenedor .af_panelBox_disclosed-icon-style, 
af|panelBox.panelBoxContenedor .af_panelBox_header-text,
af|panelBox.panelBoxContenedor .af_panelBox_disclosure-icon-container,
af|panelBox.panelBoxContenedor .af_panelBox_unmaximized-icon-style,
af|panelBox.panelBoxContenedor .af_panelBox_maximize-icon-container{
    background-color: #c1e1f0;
    font-size:1.2em;
    text-align: left;
}

.af_panelBox_toolbar{
    background-color: #c1e1f0; 
    padding-right:1vw;
    height:3vw;
}
af|panelBox.panelBoxContenedor .af_panelBox_disclosed-icon-style{
    width: 40px;
}

af|panelSplitter::vertical-icon-style{
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    text-align:left;
}

:root{
  --btnAzul-back-oscuro: #66AED2; --btnAzul-back-claro: #0B4765; 
  --btnRojo-back-oscuro: #D9534F; --btnRojo-back-claro: #D43F3A; 
  --btnVerde-back-oscuro: #5CB85C; --btnVerde-back-claro: #275927; 
  --btnAmarillo-back-oscuro: #f0AD4E; --btnAmarillo-back-claro: #75490a; 
}

/*PROPIEDADES GENERALES DE LOS BOTONES*/

.x51{
    padding-top:5px !important;
    padding-bottom:5px !important;
}

af|button.effect{
    margin-top:0px;
    ;
    text-shadow: none; 
    background-image:none; 
    border-radius: 1.5px; 
    transition:0.25s; 
    border:1px solid transparent !important; 
    font-size:2vw; 
}
af|button.effect:hover{ border-radius: 1px; transition:0.25s; border:none; }
af|button.effect::link{transition:0.25s; border:none; font-size:12px;}
af|button.effect:hover::link{ transition:0.25s; border:none; }
af|button.effect:hover:active{ border:1px solid transparent !important; transition:0.15s; }
af|button.effect:hover::link:active{ transition:0.15s; background-image:none; }

af|button.effect:disabled{background-color: lightgray;box-shadow: 0px 0px 5px black; }
af|button.effect:disabled:hover{ background-color: lightgray; box-shadow: 0px 0px 5px black;}
af|button.effect:disabled::link{background-color: lightgray; color:black; cursor:default;}
af|button.effect:disabled:hover::link{color: black; background-color: lightgray;}
af|button.effect:disabled:hover:active{-webkit-box-shadow: 0px 0px 10px 3px black;}
af|button.effect:disabled:hover::link:active{color:black;}

/*BOTON AZUL*/

af|button.btnAzul{background-color: var(--btnAzul-back-oscuro); box-shadow: 0px 0px 5px var(--btnAzul-back-claro); }
af|button.btnAzul:hover{background-color: var(--btnAzul-back-claro); box-shadow: 0px 0px 5px var(--btnAzul-back-oscuro);}
af|button.btnAzul::link{color: var(--btnAzul-back-claro); background-color: var(--btnAzul-back-oscuro); }
af|button.btnAzul:hover::link{color: var(--btnAzul-back-oscuro); background-color: var(--btnAzul-back-claro);}
af|button.btnAzul:hover:active{-webkit-box-shadow: 0px 0px 10px 3px var(--btnAzul-back-oscuro);}
af|button.btnAzul:hover::link:active{color:white;}

/*BOTON ROJO*/
af|button.btnRojo{background-color: var(--btnRojo-back-oscuro); box-shadow: 0px 0px 5px var(--btnRojo-back-claro);}
af|button.btnRojo:hover{background-color: var(--btnRojo-back-claro); box-shadow: 0px 0px 5px var(--btnRojo-back-oscuro);}
af|button.btnRojo::link{color: white; background-color: var(--btnRojo-back-oscuro); }
af|button.btnRojo:hover::link{color: white; background-color: var(--btnRojo-back-claro);}
af|button.btnRojo:hover:active{-webkit-box-shadow: 0px 0px 10px 3px var(--btnRojo-back-oscuro);}
af|button.btnRojo:hover::link:active{color:white;}
   
/*BOTON VERDE*/

af|button.btnVerde{background-color: var(--btnVerde-back-oscuro); box-shadow: 0px 0px 5px var(--btnVerde-back-claro); }
af|button.btnVerde:hover{background-color: var(--btnVerde-back-claro); box-shadow: 0px 0px 5px var(--btnVerde-back-oscuro);}
af|button.btnVerde::link{color: black; background-color: var(--btnVerde-back-oscuro); }
af|button.btnVerde:hover::link{color: var(--btnVerde-back-oscuro); background-color: var(--btnVerde-back-claro);}
af|button.btnVerde:hover:active{-webkit-box-shadow: 0px 0px 10px 3px var(--btnVerde-back-oscuro);}
af|button.btnVerde:hover::link:active{color:white;}   

/*BOTON AMARILLO*/

af|button.btnAmarillo{background-color: var(--btnAmarillo-back-oscuro); box-shadow: 0px 0px 5px var(--btnAmarillo-back-claro); }
af|button.btnAmarillo:hover{background-color: var(--btnAmarillo-back-claro); box-shadow: 0px 0px 5px var(--btnAmarillo-back-oscuro);}
af|button.btnAmarillo::link{color: var(--btnAmarillo-back-claro); background-color: var(--btnAmarillo-back-oscuro); }
af|button.btnAmarillo:hover::link{color: var(--btnAmarillo-back-oscuro); background-color: var(--btnAmarillo-back-claro);}
af|button.btnAmarillo:hover:active{-webkit-box-shadow: 0px 0px 10px 3px var(--btnAmarillo-back-oscuro);}
af|button.btnAmarillo:hover::link:active{color:white;}   

af|link::image{
    width:1.2em;
    transition:0.35s;
}

af|link::image:hover{
    transition:0.35s;
    width: 1.5em;
}

af|button::image{
    width:2vh;
}

af|statusIndicator::idle-icon{
    display:none;
}

af|statusIndicator::processing-icon{
    width:40px;
    height:35px;
    content: url('/resources/icons/loading.gif');
}

af|inputText.textAreaObservaciones::content{
    width: 300px;
}

.totalFichaValorizada{
    font-size:1vw;
    font-weight: bold;
    padding-left:10px;
}

af|panelLabelAndMessage::label{
    color: black;
    font-size:12px;
}

.elementoSeleccionado{
    font-size:2.1vh;
    font-weight: bold;
    padding-left:5px;
}

.totalDeCierre{
    font-size:2.8vh;
    font-weight: bold;
    padding-left:5px;
    color:white;
    text-shadow: 1px 1px 2px black;
}

af|panelLabelAndMessage.labelSoloTextototalDeCierre::label{
    font-size:2.8vh;
    font-weight: bold;
    padding-left:3vw;
    color:white;
    text-shadow: 1px 1px 2px black;
}

.totales{
    font-size:1.5vh;
    font-weight: bold;
}

af|inputFile.importeImput::label,
af|inputFile.importeImput::content{
    color:black;
    font-weight:bold;
}

.imagenNoticia{
    margin-left:10px;
    margin-top: 5px;
    margin-right: 5px;
    width: 12vw;
    border-radius:10px;
    border-radius:15px 15px 15px 15px;
    box-shadow:2px 2px 10px #AEAEAE;
}

af|decorativeBox::center{
    background-color: #ededed;
    border-bottom-style: double;
    border-bottom-width: 1px;
    border-bottom-color: #bdbdbd;
}

af|decorativeBox::center.p_AFFlow{
    padding-top:5px !important;
    padding-bottom:5px !important;
}

af|decorativeBox.panelBasico::center{
    margin-top:0px;
    margin-bottom:0px;
}

af|panelGroupLayout.panelGroupTotalParaExportar{
    border-width:1px;
    border-style:solid;
    border-color:#D6DFE6;
    border-top-style:double;
    border-top-color: #bdbdbd;
    padding-top:2px;
    padding-bottom:2px;
    background-color: #ededed;
    height:50px !important;
}

.hidden{
    display:none;
}

.showElement{
    display:inline-block;
}

.textoResaltado{
    font-size:2vh;
    font-weight: bold;
    text-shadow: 1px 1px 2px #eeeeee; 
}

af|column::row-header-cell {
    color: #0080c0;
    font-weight: bold;
}

.textoDescripcion{
    font-size:12px;
    font-weight: bold;
}

.af_decorativeBox_center .p_AFFlow{
    margin: 0px;
    padding: 0px;
}

af|panelTabbed::body {
    padding-left:5px !important;
    padding-right:5px !important;
    padding-bottom:5px !important;
}

.textoEnNegrita span{
    font-weight:bold;
}

.textoEnNegrita{
    font-color:black;
    font-weight:bold;
}

.totalDeTabla{
    font-color:black;
    font-weight:bold;
}

.totalDeTablaColumn{
    background-color: #E1EEF5;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #D6D6D6 !important;
}

af|selectOneChoice{
    padding:0px;
    margin:0px;
}

af|selectOneChoice.listToolbarChoice::label{
    font-size:10px;
}

af|selectOneChoice.listToolbarChoice::content{
    font-size:9.5px;
    width:40px;
    height:20px;
    border-color:black;
}

.listToolbar{
    background-color: #C1E1F0; 
    height:20px !important;
    padding: 0px;
    margin:0px;
}

af|panelGridLayout.panelGridBasico{
    background-position: top;
    background-repeat: repeat-x;
    background-color: #ededed;
    border-bottom-style: solid;
    border-bottom-width: 0.2px;
    border-bottom-color: #bdbdbd;
}

.soloTextoEnNegrita{
    font-size: 1.5vh;
    font-weight: bold;
    text-shadow: 1px 1px 2px #eeeeee; 
}

af|inputText::content:focus{
    outline: none;
    box-shadow: inset 0px 0px 4px 1px #0B4765;
    transition: 0.2s;
}

af|inputDate::content:focus{
    outline: none;
    box-shadow: inset 0px 0px 4px 1px #0B4765;
    transition: 0.2s
}

af|selectOneChoice::content:focus{
    outline: none;
    box-shadow: inset 0px 0px 4px 1px #0B4765;
    transition: 0.2s;
}

af|selectBooleanCheckbox::native-input:focus{
    outline: none;
    box-shadow: inset 0px 0px 4px 1px #0B4765;
    transition: 0.2s;
}

:root{
  --btnAzul-back-oscuro: #66AED2; --btnAzul-back-claro: #0B4765; 
  --btnRojo-back-oscuro: #D9534F; --btnRojo-back-claro: #D43F3A; 
  --btnVerde-back-oscuro: #5CB85C; --btnVerde-back-claro: #275927; 
  --btnAmarillo-back-oscuro: #f0AD4E; --btnAmarillo-back-claro: #75490a; 
}

.popConfirmacion af|dialog::footer{
    padding-top:10px;
}

.popConfirmacion af|dialog::footer-button-cancel af|button::text{
    color:white !important;
}

.popConfirmacion af|dialog::footer-button-cancel {
    /*effect*/
    margin-top:0px;
    text-shadow: none; 
    background-image:none; 
    border-radius: 1.5px; 
    transition:0.25s; 
    border:1px solid transparent !important; 
    font-size:12px; 
    /*btnRojo*/
    background-color: var(--btnRojo-back-oscuro); 
    box-shadow: 0px 0px 5px var(--btnRojo-back-claro);
}

.popConfirmacion af|dialog::footer-button-cancel:hover{
    /*effect*/
    border-radius: 1px; 
    transition:0.25s; 
    border:none; 
    /*btnRojo*/
    background-color: var(--btnRojo-back-claro) !important; 
    box-shadow: 0px 0px 5px var(--btnRojo-back-oscuro);
}
.popConfirmacion af|dialog::footer-button-cancel::link{
    /*effect*/
    transition:0.25s; 
    border:none; 
    font-size:12px;
    /*btnRojo*/
    color: white; 
    background-color: var(--btnRojo-back-oscuro);
}

.popConfirmacion af|dialog::footer-button-cancel:hover::link{ 
    transition:0.25s; 
    border:none; 
    /*btnRojo*/
    color: white;
    background-color: var(--btnRojo-back-claro);
}

.popConfirmacion af|dialog::footer-button-cancel:hover:active{ 
    border:1px solid transparent !important; 
    transition:0.15s; 
    /*btnRojo*/
    -webkit-box-shadow: 0px 0px 10px 3px var(--btnRojo-back-oscuro);
}

.popConfirmacion af|dialog::footer-button-cancel:hover::link:active{ 
    transition:0.15s; 
    background-image:none; 
    /*btnRojo*/
    color:white;
}

.popConfirmacion af|dialog::footer-button-cancel:disabled{background-color: lightgray;box-shadow: 0px 0px 5px black; }
.popConfirmacion af|dialog::footer-button-cancel:disabled:hover{ background-color: lightgray; box-shadow: 0px 0px 5px black;}
.popConfirmacion af|dialog::footer-button-cancel:disabled::link{background-color: lightgray; color:black; cursor:default;}
.popConfirmacion af|dialog::footer-button-cancel:disabled:hover::link{color: black; background-color: lightgray;}
.popConfirmacion af|dialog::footer-button-cancel:disabled:hover:active{-webkit-box-shadow: 0px 0px 10px 3px black;}
.popConfirmacion af|dialog::footer-button-cancel:disabled:hover::link:active{color:black;}

.popConfirmacion af|dialog::footer-button-affirmative{
    /*effect*/
    margin-top:0px;
    text-shadow: none; 
    background-image:none; 
    border-radius: 1.5px; 
    transition:0.25s; 
    border:1px solid transparent !important; 
    font-size:12px; 
    /*btnVerde*/
    background-color: var(--btnVerde-back-oscuro); 
    box-shadow: 0px 0px 5px var(--btnVerde-back-claro); 
    margin-right:2vh;
}

.popConfirmacion af|dialog::footer-button-affirmative:hover{
    /*effect*/
    border-radius: 1px; 
    transition:0.25s; 
    border:none; 
    /*btnVerde*/
    background-color: var(--btnVerde-back-claro) !important; 
    box-shadow: 0px 0px 5px var(--btnVerde-back-oscuro);
    color: var(--btnVerde-back-oscuro) !important; 
}

.popConfirmacion af|dialog::footer-button-affirmative::link{
    /*effect*/
    transition:0.25s; 
    border:none; 
    font-size:12px;
    /*btnVerde*/
    color: black; 
    background-color: var(--btnVerde-back-oscuro); 
}

.popConfirmacion af|dialog::footer-button-affirmative:hover::link{ 
    transition:0.25s; 
    border:none; 
    /*btnVerde*/
    color: var(--btnVerde-back-oscuro) !important; 
    background-color: var(--btnVerde-back-claro);
}

.popConfirmacion af|dialog::footer-button-affirmative:hover:active{ 
    border:1px solid transparent !important; 
    transition:0.15s; 
    /*btnRojo*/
    -webkit-box-shadow: 0px 0px 10px 3px var(--btnVerde-back-oscuro);
    color:white;
}

.popConfirmacion af|dialog::footer-button-affirmative:hover::link:active{ 
    transition:0.15s; 
    background-image:none; 
    /*btnVerde*/
    color:white;
}

.popConfirmacion af|dialog::footer-button-affirmative:disabled{background-color: lightgray;box-shadow: 0px 0px 5px black; }
.popConfirmacion af|dialog::footer-button-affirmative:disabled:hover{ background-color: lightgray; box-shadow: 0px 0px 5px black;}
.popConfirmacion af|dialog::footer-button-affirmative:disabled::link{background-color: lightgray; color:black; cursor:default;}
.popConfirmacion af|dialog::footer-button-affirmative:disabled:hover::link{color: black; background-color: lightgray;}
.popConfirmacion af|dialog::footer-button-affirmative:disabled:hover:active{-webkit-box-shadow: 0px 0px 10px 3px black;}
.popConfirmacion af|dialog::footer-button-affirmative:disabled:hover::link:active{color:black;}

.popConfirmacion af|dialog::content, af|dialog::content-start, af|dialog::content-end{
    border-top:none;
}

@agent webkit {
.popConfirmacion af|dialog::header-start,
.popConfirmacion af|dialog::header-end,
.popConfirmacion af|dialog::header{
    background-image: none;
    padding:0px;
    margin:0px;
    width:0px;
    height:0px;
  }
}

.iconPopConfirmacion{
    width:75px;
    padding-top:10px;
    padding-bottom:25px;
}

.mensajeEliminar{
    font-size: 1.1rem;
    font-weight:bold;
    text-shadow: 0px 0px 2px #d6d6d6;
    white-space: nowrap;
}

.popConfirmacion af|dialog::footer,
.popConfirmacion af|dialog::footer-start,
.popConfirmacion af|dialog::footer-end{
    border-top: 1px #d6d6d6 solid;
    padding-top:10px;
}

af|inputText.inputW5::content{
    width:5vw !important;
}

af|inputText.inputW10::content {
    width:10vw !important;
}

af|inputText.inputW15::content {
    width:15vw !important;
}

af|inputText.inputW20::content {
    width:20vw !important;
}

af|inputText.inputW25::content {
    width:25vw !important;
}

af|inputText.comboTextoinputW5::content{
    width:5vw !important;
}

af|inputText.comboTextoinputW10::content{
    width:10vw !important;
}

af|inputText.comboTextoinputW15::content{
    width:15vw !important;
}

af|inputText.comboTextoinputW20::content{
    width:20vw !important;
}

af|inputText.comboTextoinputW25::content{
    width:25vw !important;
}

af|selectOneChoice.comboW5::content {
    width:5vw;
}

af|selectOneChoice.comboW8::content {
    width:8vw;
}

af|selectOneChoice.comboW10::content {
    width:10vw;
}

af|selectOneChoice.comboW12::content {
    width:12vw;
}

af|selectOneChoice.comboW15::content {
    width:15vw;
}

af|selectOneChoice.comboW20::content {
    width:20vw;
}

af|selectOneChoice.comboW25::content {
    width:25vw;
}

af|table::navbar-row-range-text{
    color: black;
    font-weight: bold;
}

af|table::navbar-current-page{
    border: none;
    color: black !important;
    font-weight: bold;   
}

af|table::navbar-page-input-label{
  color:black;
}
af|table::navbar{
    border-top-style:solid;
    border-top-width:2px;
    border-top-color:#EDEDED;
    background-color:#C1E1F0
}

af|table::data-row:selected:inactive af|column::data-cell,
af|column::data-cell:selected,
af|table::data-row:selected:busy,
af|column::data-cell:focus,
af|table::data-row:selected:focused af|column::banded-data-cell,
af|table::data-row:selected:focused af|column::data-cell,
af|table::data-row:selected af|column::data-cell {
   background-color: rgba(11, 71, 101, 0.21);
}
/*.optionSearcher*/
af|inputText.optionSearcher::content
{
    background-color:#bce4f8;
    color:black;
    font-weight:bold;
    border:none;
}

af|inputText.optionSearcher::context-content
{
    color:green !important;
}

/*--*//*btnAzul-back-oscuro: #66AED2; --btnAzul-back-claro: #0B4765;*/ 

.zonaIngresoDetalleInternacion{
    font-size:15px;
    font-weight:bold;
}

.noWrap{
    white-space:nowrap;
}

.vw-1{
    min-height:1vw;
}

.m-vw-2{
    min-height:2vw;
}

.vw-2{
    min-height:2vw;
}

.vw-3{
    min-height:3vw;
}

.pt-05{
    padding-top: 0.5rem;
}

.pt-1{
    padding-top: 1rem;
}

.pt-2{
    padding-top: 2rem;
}

.pt-3{
    padding-top: 3rem;
}

.pb-05{
    padding-bottom: 0.5rem;
}

.pb-1{
    padding-bottom: 1rem;
}

.pb-2{
    padding-bottom: 2rem;
}

.pb-3{
    padding-bottom: 3rem;
}

af|column::column-footer-cell{
    border-top-style: solid;
    border-top-color: #ababab;
    border-top-width: 2px;
    background-color: #E6E6E6;
    padding-top:10px !important;
}

af|selectManyChoice.multiComboW5::content {
    width:5vw;
}
af|selectManyChoice.multiComboW10::content {
    width:10vw;
}
af|selectManyChoice.multiComboW15::content {
    width:15vw;
}
af|selectManyChoice.multiComboW20::content {
    width:20vw;
}
af|selectManyChoice.multiComboW25::content {
    width:25vw;
}
af|selectManyChoice.multiComboW30::content {
    width:30vw;
}
af|selectManyChoice.multiComboW35::content {
    width:35vw;
}

af|selectManyChoice::dropdown-icon-style{
    background-color: #C1E1F0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--btnAzul-back-oscuro);
}

/*af|selectManyChoice::item{
    color:red;
}*/

af|inputDate.inputW5::content{
    width:5vw !important;
}

af|inputDate.inputW10::content {
    width:10vw !important;
}

af|inputDate.inputW15::content {
    width:15vw !important;
}

af|inputDate.inputW20::content {
    width:20vw !important;
}

af|inputDate.inputW25::content {
    width:25vw !important;
}

.AFTextDisabledColor:alias {
  color: black;
}

.panelGroupTituloListForm{
    background-color: #E2F3FC; 
    min-height: 20px;
    border-top:#d6dfe6 1px solid;
    border-right:#d6dfe6 1px solid;
    border-left:#d6dfe6 1px solid;
}

.linkRedireccion{
    font-size:3em; 
    font-weight: bold; 
    color:#0B4765;
    text-decoration:none;
    
}

af|link.linkRedireccion::image{
    width:2em !important;
    padding-right:20px;
    
}

.linkRedireccion:hover{
    text-decoration:none;
    transition:0.2s;
    color:#66AED2;
}

.linkRedireccion:visited:hover{
    text-decoration:none;
    transition:0.2s;
    color:#66AED2;
    
}

.linkRedireccion:active{
    font-size:3em;
    transition:0.2s;
    color:#66AED2;
}

.linkRedireccion:visited{
    font-size:3em;
    transition:0.2s;
    color:#66AED2;
}

.boxLink{
    -webkit-box-shadow: 11px 7px 22px 0px rgba(102,174,210,1);
    -moz-box-shadow: 11px 7px 22px 0px rgba(102,174,210,1);
    box-shadow: 11px 7px 22px 0px rgba(102,174,210,1);
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
}


.pr-05{
    padding-right: 0.5rem;
}

.pr-1{
    padding-right: 1rem;
}

.pr-2{
    padding-right: 2rem;
}

.pr-3{
    padding-right: 3rem;
}

.pl-05{
    padding-left: 0.5rem;
}

.pl-1{
    padding-left: 1rem;
}

.pl-2{
    padding-left: 2rem;
}

.pl-3{
    padding-left: 3rem;
}

.mr-05{
    margin-right: 0.5rem;
}

.mr-1{
    margin-right: 1rem;
}

.mr-2{
    margin-right: 2rem;
}

.mr-3{
    margin-right: 3rem;
}

.ml-05{
    margin-left: 0.5rem;
}

.ml-1{
    margin-left: 1rem;
}

.ml-2{
    margin-left: 2rem;
}

.ml-3{
    margin-left: 3rem;
}


.mt-05{
    margin-top: 0.5rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

.mb-05{
    margin-bottom: 0.5rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
   margin-top: 3rem;
}

af|inputText.requiredField::content{
    border-left-style:solid !important;
    border-left-color:#c05757 !important;
    border-left-width:5px !important;
    transition: 0.1s !important;
}

af|inputText.requiredField::content:focus{
    outline: none !important;
    box-shadow: inset 0px 0px 4px 1px #c05757 !important;
    border-left-width:1px !important;
    transition: 0.1s !important;
}

af|inputText.requiredField::content::-webkit-input-placeholder{
    color: #a1a1a1 !important;
    /*font-weight:bold;*/
}


.soloTextoEnNegrita-Rojo{
    font-size: 1.8vh;
    font-weight: bold;
    /*text-shadow: 1px 1px 2px #ffffff;*/ 
    color:#ff0000;
}

.soloTextoEnNegrita-1{
    font-size: 1.3vh;
    font-weight: bold;
    text-shadow: 1px 1px 2px #eeeeee; 
}
af|inputText.multiSearcher::content{
    background-color: #cde4f0; 
    width:10vw;
    height:20px;
}

af|button.refreshButtonMultiCombo::image{
    width:15px;
    margin-top:1px !important;
    padding-top:1px !important;
    
}

af|button.refreshButtonMultiCombo{
    background-color: #C1E1F0;
    background-image:none;
    border-style: solid;
    border-width: 1px;
    border-color: var(--btnAzul-back-oscuro);
    min-height: 20px !important;
    max-height: 20px !important;
    margin-left:2px;
}